<template>
    <main>
        <div class="container-fluid c-section">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="a-spacing-top-medium">
                        <h2>Add a new category</h2>

                        <form>
                            <!-- Input -->
                            <div class="a-spacing-top-medium">
                                <label>Type</label>
                                <input class="a-input-text" style="width:100%" v-model="type">
                            </div>

                            <hr/>
                            <!-- Button -->
                            <div class="a-spacing-top-large">
                                <span class="a-button-register">
                                    <span class="a-button-inner">
                                        <span class="a-button-text" @click="onAddCategory">Add Category</span>
                                    </span>
                                </span>
                            </div>

                            <br/>
                            <!-- Category List -->
                            <ul class="list-group-item">
                                <li
                                v-for="category in categories"
                                :key="category._id">
                                    {{category.type}}
                                </li>
                            </ul>
                        </form>

                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </main>

</template>

<script>
    export default {
        //load về danh sách các category đã tồn tại
        async asyncData({$axios}){
            try{
                let response = await $axios.$get("http://localhost:3000/api/categories");
                return{
                    categories: response.categories,
                }
            }catch(err){
                console.log(err.message);
            }

        },
        data(){
            return{
                type: "",
            }
        },
        methods:{
            //Hàm upload category
            async onAddCategory(){
                try{
                    let data = {type: this.type};
                    let response = await this.$axios.$post("http://localhost:3000/api/categories",data); 

                    if(response.success){
                        this.categories.push(data);
                    }
                }catch(err){
                    console.log(err.message);
                }
               
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>