<template>
    <main>
        <div class="container-fluid c-section">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="a-spacing-top-medium">
                        <h2>Add a new owner</h2>

                        <form>
                            <!-- Name -->
                            <div class="a-spacing-top-medium">
                                <label>Name</label>
                                <input class="a-input-text" style="width:100%" v-model="name">
                            </div>

                            <!-- About -->
                            <div class="a-spacing-top-medium">
                                <label>About</label>
                                <input class="a-input-text" style="width:100%" v-model="about">
                            </div>
  
                            <!-- Photo Input -->
                            <div class="a-spacing-top-medium">
                                <label style="margin-bottom: 0px;">Add Photo</label>
                                <div class="a-row a-spacing-top-medium">
                                    <label class="choosefile-button">
                                        <i class="fas fa-plus"></i>
                                        <input type="file" @change="onFileSelected">
                                        <p style="margin-top: -70px">{{fileName}}</p>
                                    </label>
                                </div>
                            </div>

                            <hr/>
                            <!-- Button -->
                            <div class="a-spacing-top-large">
                                <span class="a-button-register">
                                    <span class="a-button-inner">
                                        <span class="a-button-text" @click="onAddOwner">Add Owner</span>
                                    </span>
                                </span>
                            </div>

                            <br/>
                            <!-- Category List -->
                            <ul class="list-group-item">
                                <li
                                v-for="owner in owners"
                                :key="owner._id">
                                    {{owner.name}}
                                </li>
                            </ul>
                        </form>

                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </main>

</template>

<script>
    export default {
        //load về danh sách các category đã tồn tại
        async asyncData({$axios}){
            try{
                let response = await $axios.$get("http://localhost:3000/api/owners");
                return{
                    owners: response.owners,
                }
            }catch(err){
                console.log(err.message);
            }

        },
        data(){
            return{
                name: "",
                about: "",
                selectedFile: null,
                fileName: "",
            }
        },
        methods:{
            onFileSelected(event){
                this.selectedFile = event.target.files[0];
                this.fileName = event.target.files[0].name;
            },
            //Hàm upload owner
            async onAddOwner(){
                try{
                    let data = new FormData();
                    data.append("name", this.name);
                    data.append("about",this.about);
                    data.append("photo", this.selectedFile, this.fileName);
                    
                    let response = await this.$axios.$post("http://localhost:3000/api/owners",data);
                    if(response.success){
                        this.owners.push({name: this.name});
                    }
                }catch(err){
                    console.log(err.message);
                }
               
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>