<template>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="a-section">
                        <div class="a-spacing-top-medium"></div>
                        <h2 style="text-align: center">Add a new product</h2>
                        <form>
                            <!-- Category Dropdown -->
                            <div class="a-spacing-top-medium">
                                <label>Category</label>
                                <select class="a-select-option" v-model="categoryID">
                                    <option
                                      v-for="category in categories"
                                      :key="category._id"
                                      :value="category._id">{{category.type}}</option>
                                </select>
                            </div>
                            
                            <!-- Owner Dropdown -->
                            <div class="a-spacing-top-medium">
                                <label>Owner</label>
                                <select class="a-select-option" v-model="ownerID">
                                    <option
                                      v-for="owner in owners"
                                      :key="owner._id"
                                      :value="owner._id">{{owner.name}}</option>
                                </select>
                            </div>

                            <!-- Title Input -->
                            <div class="a-spacing-top-medium">
                                <label style="margin-bottom: 0px;">Title</label>
                                <input type="text" class="a-input-text" style="width: 100%" v-model="title">
                            </div>

                            <!-- Price Input -->
                            <div class="a-spacing-top-medium">
                                <label style="margin-bottom: 0px;">Price</label>
                                <input type="number" class="a-input-text" style="width: 100%" v-model="price">
                            </div>

                            <!-- StockQuantity Input -->
                            <div class="a-spacing-top-medium">
                                <label style="margin-bottom: 0px;">Stock Quantity</label>
                                <input type="number" class="a-input-text" style="width: 100%" v-model="stockQuantity">
                            </div>
  
                            <!-- Description Input -->
                            <div class="a-spacing-top-medium">
                                <label style="margin-bottom: 0px;">Description</label>
                                <textarea
                                    placeholder="Provide details such a product description"
                                    style="width: 100%"
                                    v-model="description"
                                ></textarea>
                            </div>


  
                            <!-- Photo Input -->
                            <div class="a-spacing-top-medium">
                                <label style="margin-bottom: 0px;">Add Photo</label>
                                <div class="a-row a-spacing-top-medium">
                                    <label class="choosefile-button">
                                        <i class="fas fa-plus"></i>
                                        <input type="file" @change="onFileSelected">
                                        <p style="margin-top: -70px">{{fileName}}</p>
                                    </label>
                                </div>
                            </div>
                            
                            <hr>
                            <!-- Button -->
                            <div class="a-spacing-top-large">
                                <span class="a-button-register">
                                    <span class="a-button-inner">
                                        <span @click="onAddProduct" class="a-button-text">Add Product</span>
                                    </span>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    export default {
        async asyncData( {$axios }) {
            try{
                let categories = $axios.$get("http://localhost:3000/api/categories");
                let owners = $axios.$get("http://localhost:3000/api/owners");
    
    
                // Cách viết hàm kiểu Promise.all này cho phép chạy đồng thời nhiều hàm await một lúc, và map vào mảng const [catResponse, ownerResponse] khi mà có kết quả
                const [catResponse, ownerResponse] = await Promise.all([categories, owners]);
                console.log(catResponse);
                return{
                    categories: catResponse.categories,
                    owners: ownerResponse.owners
                }
            }catch (err){
                console.log(err.message);
            }

        },

        data(){
            return {
                categoryID: null,
                ownerID: null,
                title: "",
                price:0,
                description: "",
                selectedFile: null,
                fileName: "",
                stockQuantity: 1
            }
        },

        methods: {
            onFileSelected(event){
                this.selectedFile = event.target.files[0];
                console.log(this.selectedFile);
                this.fileName = event.target.files[0].name;
            },

            async onAddProduct(){
                let data = new FormData();
                data.append("title", this.title);
                data.append("categoryID", this.categoryID);
                data.append("ownerID", this.ownerID);
                data.append("price", this.price);
                data.append("description", this.description);
                data.append("photo", this.selectedFile, this.fileName);
                data.append("stockQuantity", this.stockQuantity)
                try{
                    let result = await this.$axios.$post('http://localhost:3000/api/products',data);
                    console.log(result);
                    this.$router.push("/");
                }catch(err){
                    console.log(err.message);
                }
            }


        }

    }
</script>

<style lang="scss" scoped>

</style>