<template>
  <div class="registerPage">
    <div class="container">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <div class="text-center">
            <a href="#" src="/img/logo-black.png"></a>
          </div>
          <form class="mt-4">
            <div class="a-box a-spacing-extra-large">
              <div class="a-box-inner">
                <h1 class="a-spacing-small">Create account</h1>
                <!-- Your Name -->
                <div class="a-row a-spacing-base">
                  <label for="ap_customer_name" class="a-form-label"
                    >Your Name</label
                  >
                  <input
                    type="text"
                    id="ap_customer_name"
                    v-model="name"
                    class="
                      a-input-text
                      form-control
                      auth-autofocus
                      auth-required-field
                      auth-contact-verification-request-infor
                    "
                  />
                </div>
                <!-- Email -->
                <div class="a-row a-spacing-base">
                  <label for="ap_customer_name" class="a-form-label"
                    >Email</label
                  >
                  <input
                    type="email"
                    id="ap_customer_name"
                    v-model="email"
                    class="
                      a-input-text
                      form-control
                      auth-autofocus
                      auth-required-field
                      auth-contact-verification-request-infor
                    "
                  />
                </div>

                <!-- Password -->
                <div class="a-row a-spacing-base">
                  <label for="ap_customer_name" class="a-form-label"
                    >Password</label
                  >
                  <input
                    type="email"
                    id="ap_customer_name"
                    v-model="password"
                    class="
                      a-input-text
                      form-control
                      auth-autofocus
                      auth-required-field
                      auth-contact-verification-request-infor
                    "
                  />
                  <div class="a-alert-container">
                    <div class="a-alert-content">Password must be at least 6 characters</div>
                  </div>
                </div>
                <!-- Button -->
                <div class="a-row a-spacing-extra-large mb-4">
                    <span class="a-button-primary">
                        <span class="a-button-inner">
                            <span class="a-button-text" @click="onSignup">Create your amazon account </span>
                        </span>
                    </span>
                    <div class="a-row a-spacing-top-medium a-size-small">
                        <b>
                            Bt creating an account, toy agree to Amzon's
                            <a href="">Conditions of Use</a> and
                            <a href="">Privacy Notice</a>
                        </b>
                    </div>
                </div>
                <hr/>
                <div class="a-row">
                    <b>
                        Already have an account?
                        <nuxt-link to="/login" class="a-link-template">Sign in</nuxt-link>
                    </b>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    layout: "none",
    data(){
        return{
            name: "",
            email: "",
            password:""
        }
    },
    methods: {
        // Hàm này gửi api tới endpoint signup để tạo skema User mới và nhận về token, sau đó login bằng Auth Library
        async onSignup() {
            try{
                let data = {
                    name: this.name,
                    email : this.email,
                    password : this.password
                }
                const response = await this.$axios.$post("/api/auth/signup", data);
                console.log(response);
                
                //Tạo user thành công 
                if(response.success){
                    // Luu data và token vào local + vueX bằng Auth 
                    this.$auth.loginWith("local", {
                        data: {
                            email: this.email,
                            password: this.password
                        }
                    });
                }

                // cho phép vào home
                this.$router.push("/");
            }catch(err){
                console.log(err);
            }
        }
    }

};
</script>

<style>
</style>