<template>
    <div class="mainContent">
        <div class="unified_widget pageBanner">
            <h1>Books</h1>
            <p>
                <b>
                    Browse for more Gaming Accessories
                    <a href="#">from Nintendo</a>, or
                    <a href="#">Sony</a> PlayStation 5 or older models of PS
                    <a href="#">Best handheld console so far</a>
                </b>
            </p>
        </div>

        <div class="bx-root">
            <div class="row">
                <div class="col-sm-5 text-center">
                    <div class="bx-root-image">
                        <img src="/img/FeaturedProduct.jpeg" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-sm-7 m-auto">
                    <div class="bx-root-heading">Nintendo Switch Oled</div>
                    <div class="bx-root-subtext">
                        The newest handheld model from Nintendo 
                    </div>
                    <div class="bx-root-link">
                        <span>Order Now</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style>

</style>